@import "fonts/orelo-sw-r";

@font-face {
  font-family: "proxima-nova";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local("proxima nova regular"), local("proxima-nova-regular"),
    url("../fonts/proxima-nova-regular.woff2") format("woff2"),
    url("../fonts/proxima-nova-regular.woff") format("woff");
}

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1220px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 1221px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  }
}

html {
  body {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.standardized-wrapper {
  margin: 0 auto;
  max-width: 940px;
  width: 940px;

  @include breakpoint(small) {
    width: 100%;
  }
}

.hero {
  background-color: #102312;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 756px;

  @include breakpoint(small) {
    padding: 0 20px;
  }

  h1 {
    animation: 0.5s ease-in-out forwards slide-down;
    color: #ffffff;
    font-size: 18px;
    margin: 70px 0 50px;
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translate(0, -100%);
    }

    to {
      opacity: 1;
      transform: translate(0);
    }
  }

  h2 {
    color: #fff2df;
    font-family: Orelo-sw-r;
    font-weight: normal;
    font-size: 80px;
    margin: 0 0 80px;

    @include breakpoint(small) {
      font-size: 40px;
    }

    p {
      animation: 0.5s ease-in-out forwards slide-up;
      margin: 0;
      opacity: 0;

      &:nth-child(1) {
        animation-delay: 0.2s;
      }

      &:nth-child(2) {
        animation-delay: 0.4s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }
    }

    @keyframes slide-up {
      from {
        opacity: 0;
        transform: translate(0, 20%);
      }

      to {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  hr {
    background: white;
    border: none;
    height: 1px;
    margin: 0 0 20px;
    width: 100%;
  }

  .personal-info {
    animation: 0.5s ease-in-out 0.7s forwards fade-in;
    align-items: flex-start;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-between;
    opacity: 0;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .personal-info__wrapper {
    display: flex;
    flex-direction: column;
    line-height: 1.44;
    margin-bottom: 20px;

    @include breakpoint(small) {
      &:nth-child(even) {
        text-align: right;
      }
    }
  }

  .personal-info__title {
    font-family: Orelo-sw-r;
  }

  .personal-info__content {
    a {
      color: #fff;
      text-decoration: none;
      transition: color 0.2s;
    }

    a:hover {
      color: #ebffce;
    }
  }
}

.work {
  background-color: #fef5e9;
  display: flex;
  flex-direction: column;
  padding: 0 0 150px;

  @include breakpoint(small) {
    padding: 0 20px 50px;
  }

  .project__title {
    font-family: Orelo-sw-r;
    font-size: 60px;
    font-weight: normal;
    margin: 0 0 30px;
    padding-top: 80px;
  }

  .carousel-wrapper {
    // background-color: #000;
    margin-bottom: 58px;

    @include breakpoint(small) {
      width: 100% !important;
    }

    &.carousel_horizontal_large {
      height: 536px;
      width: 860px;
    }

    &.carousel_horizontal_small {
      height: 507px;
      width: 780px;
    }

    &.carousel_vertical {
      height: 783px;
      width: 700px;
    }

    &.carousel_vertical_small {
      height: 711px;
      width: 620px;
    }
  }

  .carousel {
    transition: opacity 0.25s;

    &.is-hidden {
      opacity: 0;
    }

    &.flickity-enabled {
      opacity: 1;
    }
  }

  .project__description {
    font-size: 32px;
    line-height: 1.25;
  }

  .project_full_right {
    margin-left: auto;
    max-width: 700px;
  }

  .project_indent {
    margin-left: 80px;
    max-width: 780px;
  }

  .project_center {
    margin-left: 160px;
    max-width: 620px;
  }

  .project {
    @include breakpoint(small) {
      margin: 0;
    }
  }

  .carousel-wrapper,
  .carousel,
  .carousel-cell {
    height: 100%;
    width: 100%;
  }

  .carousel-info {
    font-size: 18px;
    text-align: center;
  }

  button.flickity-button.flickity-prev-next-button {
    -webkit-transform: none;
    background-color: transparent;
    border-radius: 0;
    height: 100%;
    opacity: 0;
    top: 0;
    transform: none;
    width: 50%;
  }

  button.flickity-button.flickity-prev-next-button.previous {
    cursor: url("../images/prev.png") 16 16, w-resize;
    left: 0;
  }

  button.flickity-button.flickity-prev-next-button.next {
    cursor: url("../images/next.png") 16 16, e-resize;
    right: 0;
  }
}

footer {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  height: 90px;
  justify-content: center;
}
