// FONTS

@font-face {
  font-family: "Orelo-SemiWide";
  src: url("../fonts/Orelo-SemiWide.woff2") format("woff2"),
    url("../fonts/Orelo-SemiWide.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("proxima nova regular"), local("proxima-nova-regular"),
    url("../fonts/proxima-nova-regular.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"),
    url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "proxima-nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// VARIABLES

$black: #112a14;
$hero-bg: #faf8f6;

// MIXINS

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1220px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 1221px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  }
}

// EXTENDS

%after-image {
  background-size: 90px 70px;
  content: " ";
  height: 70px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 90px;
  z-index: -1;
}

%link-button {
  background-color: $black;
  border-radius: 30px;
  color: $hero-bg;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 16px;
  text-decoration: none;
}

html {
  body {
    color: $black;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.hero {
  background-color: $hero-bg;
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint(small) {
    height: auto;
    padding: 0 20px;
  }

  .standardized-wrapper {
    margin: 0 10%;

    @include breakpoint(small) {
      margin: 0;
    }
  }

  &__top-row {
    align-items: baseline;
    animation: 0.5s ease-in-out forwards slide-down;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 45px 0 55px;

    @include breakpoint(small) {
      justify-content: space-between;
      margin: 50px 0 50px;
    }
  }

  &__tagline {
    color: $black;
    font-size: 20px;
    font-weight: 500;
  }

  &__header {
    font-family: Orelo-SemiWide;
    font-weight: normal;
    font-size: 70px;
    line-height: 75px;
    margin: 0 0 75px;

    @include breakpoint(small) {
      font-size: 50px;
      line-height: 52px;
      margin: 0 30px 40px 0;
      max-width: 260px;
    }

    p {
      animation: 0.5s ease-in-out forwards slide-up;
      margin: 0;
      opacity: 0;
      will-change: transform;

      @include breakpoint(small) {
        animation: 0.5s ease-in-out forwards fade-in;
      }

      &:nth-child(1) {
        animation-delay: 0.3s;
      }

      &:nth-child(2) {
        animation-delay: 0.6s;

        @include breakpoint(small) {
          animation-delay: 0.3s;
        }
      }

      &:nth-child(3) {
        animation-delay: 0.9s;

        @include breakpoint(small) {
          animation-delay: 0.3s;
        }
      }
    }
  }

  &__links {
    animation: 0.5s ease-in-out 1.1s forwards slide-up;
    opacity: 0;
    margin-bottom: 60px;

    @include breakpoint(small) {
      animation: 0.3s ease-in-out 0.5s forwards slide-up;
      margin-bottom: 50px;
    }
  }

  &__links a {
    color: $black;
    font-family: Orelo-SemiWide;
    font-size: 70px;
    font-weight: normal;
    margin-right: 60px;
    position: relative;
    text-decoration: none;

    @include breakpoint(small) {
      font-size: 35px;
      text-decoration: underline;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__about::after {
    @extend %after-image;

    background-image: url("./assets/portrait.jpg");
    right: -26px;
    top: 45px;
  }

  &__film::after {
    @extend %after-image;

    background-image: url("./assets/switzerland.jpg");
    right: -37px;
    top: -25px;
  }

  &__work::after {
    @extend %after-image;

    background-image: url("./assets/aloft.jpg");
    right: 128px;
    top: 40px;

    @include breakpoint(small) {
      right: 50px;
    }
  }
}

strong {
  font-weight: 600;
}

.link-button {
  @extend %link-button;
}

.work {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 0 150px;

  @include breakpoint(small) {
    padding: 0 20px 50px;
  }

  .standardized-wrapper {
    margin: 0 auto;
    max-width: 940px;
    width: 940px;

    @media (max-width: 940px) {
      width: 100%;
    }
  }

  .project__title {
    font-family: Orelo-SemiWide;
    font-size: 60px;
    font-weight: normal;
    margin: 0 0 30px;
    opacity: 0;
    padding-top: 80px;

    @include breakpoint(small) {
      font-size: 40px;
    }

    &.visible {
      animation: 0.5s ease-in-out forwards slide-up;
    }
  }

  .carousel-wrapper {
    margin-bottom: 58px;

    @include breakpoint(small) {
      margin-bottom: 30px;
      width: 100% !important;
    }

    &_horizontal_large {
      max-height: 536px;
      max-width: 860px;

      .carousel {
        height: 536px;

        @include breakpoint(small) {
          height: 230px;
        }
      }
    }

    &_horizontal_small {
      max-height: 507px;
      max-width: 780px;

      .carousel {
        height: 507px;

        @include breakpoint(small) {
          height: 230px;
        }
      }
    }

    &_vertical {
      max-height: 783px;
      max-width: 700px;

      .carousel {
        height: 783px;

        @include breakpoint(small) {
          height: 400px;
        }
      }
    }

    &_vertical_small {
      max-height: 711px;
      max-width: 620px;

      .carousel {
        height: 711px;

        @include breakpoint(small) {
          height: 400px;
        }
      }
    }
  }

  .carousel {
    transition: opacity 0.25s;

    &.is-hidden {
      opacity: 0;
    }

    &.flickity-enabled {
      opacity: 1;
    }
  }

  .carousel-cell {
    height: 100%;

    img,
    video {
      display: block;
      height: 100%;
    }
  }

  .project__description {
    font-size: 32px;
    line-height: 1.25;

    @include breakpoint(small) {
      font-size: 26px;
    }
  }

  .project_full_right {
    margin-left: auto;
    max-width: 700px;
  }

  .project_indent {
    margin-left: 80px;
    max-width: 780px;
  }

  .project_center {
    margin-left: 160px;
    max-width: 620px;
  }

  .project {
    @include breakpoint(small) {
      margin: 0;
    }
  }

  .carousel-info {
    font-size: 18px;
    text-align: center;
  }

  button.flickity-button.flickity-prev-next-button {
    -webkit-transform: none;
    background-color: transparent;
    border-radius: 0;
    height: 100%;
    opacity: 0;
    top: 0;
    transform: none;
    width: 50%;

    @include breakpoint(small) {
      pointer-events: none;
    }
  }

  button.flickity-button.flickity-prev-next-button.previous {
    cursor: url("../assets/prev.png") 16 16, w-resize;
    left: 0;
  }

  button.flickity-button.flickity-prev-next-button.next {
    cursor: url("../assets/next.png") 16 16, e-resize;
    right: 0;
  }
}

.footer {
  margin-bottom: 75px;
  text-align: center;
}

// KEYFRAMES

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate(0, 20%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-text {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
